{% extends "master.twig" %}


{% block style %}
	<style>


		.scrollable-div {
			height: 700px; /* Set the desired height */
			overflow: auto; /* Enable scrolling */
		}

		.badge {
			border-radius: 0;
		}

		.li_position {
			display: inline-block;
			width: auto;
			white-space: nowrap;
		}

		.head {
			background-color: gold;
		}
	</style>
{% endblock %}


{% block main %}


	<main class="col ms-1">
		<div class="card">
			<div class="card-header p-3">
				<h3>لائحة الموظفين
				</h3>
			</div>


			<div class="card-body ">


				<div x-data="dataTable()">
					<div class="">

						<div
							class="d-flex justify-content-end my-4" aria-label="View Toggle">

							{# <input type="search" class="form-control" > #}
							{# TODO_Aya:  showTable & showGrid are not working#}
							<button onclick="showTable()" class="btn btn-light mx-2 ">
								<i class="bi bi-list fw-bold"></i>
							</button>
							<button onclick="showGrid()" class="btn btn-light">
								<i class="bi bi-grid-3x3-gap-fill"></i>
							</button>
							<button class="btn btn-light me-2" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFilter" aria-expanded="false" aria-controls="collapseExample">
								<i class="bi bi-funnel-fill"></i>

							</button>
							{# TODO_Aya: need to add a function to this btn #}
							{% if permissions['add_new_employee']  %}
								<button "" class="btn btn-primary mx-2 ms-3">
									<i class="bi bi-person-plus-fill"></i>
									اضافة موظف
								</button>
							{% endif %}


						</div>
						<div class="filter collapse p-2" id="collapseFilter">

							<div class="me-4 mb-3">
								<h4>تصنيفات</h4>
							</div>

							{# <div class="text-right m-3">
																																																								</div> #}

							<div class="text-right mx-3">
								<div class="row align-items-start">
									<div class="col-3">
										<div class="form-floating">
											<select class="form-select" id="floatingSelect" aria-label="Floating label select example" x-model="filterStatus">
												<option selected>الكل</option>
												{% for key, value in lookups.employee_status %}
													<option value="{{ value }}">{{ value }}</option>
												{% endfor %}
												<option value=">ليس على رأس عمله">ليس على رأس عمله</option>
											</select>
											<label for="floatingSelect">
												حالة الموظف</label>
										</div>
									</div>
									<div class="col-3">
										<div class="form-floating">
											<select class="form-select" id="floatingSelect" aria-label="Floating label select example" x-model="filterContract">
												<option selected>الكل</option>
												{% for key, value in lookups.contract_type %}
													<option value="{{ value }}">{{ value }}</option>
												{% endfor %}
											</select>
											<label for="floatingSelect">
												نوع العقد
											</label>
										</div>
									</div>

									<div class="col-3">
										<div class="form-floating">
											<select class="form-select" id="floatingSelect" aria-label="Floating label select example" x-model="filterJob">
												<option selected>الكل</option>
												{% for j in jobs %}
													<option value="{{ j.job_title }}">{{  j.job_title }}</option>
												{% endfor %}
											</select>
											<label for="floatingSelect">
												المسمى الوظيفي
											</label>
										</div>
									</div>

								</div>
							</div>

						</div>
					</div>

					<div class="table-responsive scrollable-div mt-4" id="tableData">

						<table id="employeeTable" class="table table-striped  table-hover align-middle mt-5">
							<thead class="sticky-top bg-body-tertiary">

								<tr class=" mb-0">
									<th></th>

									<th @click="sortByColumn" class="cursor-pointer select-none">
										الاسم

									</th>
							
									<th @click="sortByColumn" class="cursor-pointer select-none text-right">

										التكليف
									</th>

									<th class="text-center">
										اجراءات</th>

								</tr>

								<tr class="collapse mt-0" id="collapseFilter">
									<td></td>
									<td class="d-flex"> <input type="text" x-model="filterName" class="form-control ms-1" placeholder="اسم الموظف"/>
									<input type="text" x-model="filterNo" class="form-control" placeholder="رقم الموظف"/></td>
									<td>

										<select class="form-select" id="floatingSelect" aria-label="Floating label select example" x-model="filterPosition">
											<option selected>الكل</option>
											{% for item in os %}
												<option value="{{ item.name }}">{{  item.name }}</option>
											{% endfor %}
										</select>


									</td>
									<td>
</td>

								</tr>


							</thead>
							<tbody class="table-group-divider">

								<template x-for="(row, index) in filteredRows" :key="index">

									<tr>
										<td class="text-center fit" x-text="row.id"></td>
										<td x-html="row.employee"></td>
										<td class="text-right fit" x-html="row.position"></td>
										<td class="text-center align-middle ">
											{% if permissions['add_new_employee']  %}
												<button x-on:click="profile($event.target, row)" type="button" class="btn btn-outline-dark btn-sm" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title=" مشاهدة ملف الموظف ">
													<i class="bi bi-eye-fill fs-5"></i>
												</button>
											{% endif  %}
											<button x-on:click="($event.target, row)" type="button" class="btn btn-outline-primary btn-sm" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="سجل الدوام">
												<i class="bi bi-fingerprint fs-5"></i>
											</button>

											{# جهات الاتصال  #}
											<button type="button" class="btn btn-outline-warning btn-sm" x-bind:data-bs-target="'#contactInfo'+ row.id" data-bs-toggle="modal" data-bs-target="#contactInfo">
												<i class="bi bi-telephone-fill fs-5" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="جهات الاتصال"></i>
											</button>

											<!-- Modal -->
											<div class="modal fade" id="contactInfo" x-bind:id="'contactInfo'+ row.id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
												<div class="modal-dialog modal-lg">
													<div class="modal-content">
														<div class="modal-header">
															<h1 class="modal-title fs-5" id="exampleModalLabel">
																جهات الاتصال
															</h1>
															<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
														</div>
														<div class="modal-body" x-html="row.contactInfo"></div>
														<div class="modal-footer">
															<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">إغلاق</button>

														</div>
													</div>
												</div>
											</div>
											{# close #}


											{# اضافة أو الغاء تكلييف  #}

											<button x-on:click="assignPosition($event.target, row)" type="button" class="btn btn-outline-success btn-sm" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title=" إلغاء أو اضافة تكلييف  ">
												<i class="bi bi-person-workspace fs-5"></i>
											</button>

											{# تغييير حالة موظف  #}
											<button x-on:click="changeEmployeeStatus($event.target, row)" type="button" class="btn btn-outline-danger btn-sm" x-bind:data-bs-target="'#changeEmployeeStatus'+ row.id" data-bs-toggle="modal" data-bs-target="#changeEmployeeStatus">
												<i class="bi bi-person-gear fs-5" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="تغيير حالة الموظف "></i>
											</button>

											<!-- Modal -->
											<div class="modal fade" id="changeEmployeeStatus" x-bind:id="'changeEmployeeStatus'+ row.id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
												<div class="modal-dialog modal-lg">
													<div class="modal-content">
														<div class="modal-header">
															<h1 class="modal-title fs-5" id="exampleModalLabel">
																تغيير حالة موظف
															</h1>
															<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
														</div>
														<div class="modal-body" x-html="row.changeEmployeeStatus"></div>
														<div class="modal-footer">
															<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">إغلاق</button>

														</div>
													</div>
												</div>
											</div>
											{# close #}


											<button x-on:click="($event.target, row)" type="button" class="btn btn-outline-info btn-sm" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title=" تغيير اتفاقية الدوام">
												<i class="bi bi-calendar3 fs-5"></i>
											</button>


										</td>

									</tr>

								</template>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
		const dataTable = () => {
return {
table: null,
options: {
searching: false,
ordering: true,
paging: true,
lengthChange: true,
info: true,
autoWidth: true
},
id: '',
employee: '',
employeeNo: '',
status: '',
contract: '',
job: '',
position: '',
contactInfo: '',
changeEmployeeStatus: '',
filterName: '',
filterNo: '',
filterStatus: '',
filterContract: '',
filterJob: '',
filterPosition: '',
rows: [{% for item in data %}{
id: '{{ item.emp_id }}',
employee: `<div class="d-flex flex-row float-end align-items-center">
  <div class="ms-3 position-relative">
    <img src="{{ item.avatar }}" alt="" width="55" class="rounded-circle">

	<div class="fw-bold mt-1 text-center">{{ item.employee_no }} </div>
  </div>
  <div class="p-2 d-flex flex-column justify-content-center">
    <p class="mb-2 text-primary fw-bold fs-6">{{ item.f_name ~ ' ' ~ item.s_name ~ ' ' ~ item.t_name ~ ' ' ~ item.l_name }}</p>
    <span class="">
      <span class="badge bg-success-subtle rounded-0 text-success p-1">{{ item.job_title }}</span>
      <span class="badge bg-secondary-subtle rounded-0 text-secondary p-1">{{ lookups.employee_status[item.employee_status] }}</span>
    </span>
    <div class="">
      <span class="badge text-bg-light rounded-0 mt-1 text-body-primary">{{ lookups.contract_type[item.contract_type] }}</span>
    </div>
  </div>
</div>
`,
employeeNo: '{{ item.employee_no }}',
status: ' {{ lookups.employee_status[item.employee_status] }}',
contract: '{{ lookups.contract_type[item.contract_type] }}',
job: '<div class="form-floating"><select class="form-select" id="floatingSelect" aria-label="Floating label select example" x-model="filterJob"><option selected>الكل</option><option value="           {{ item.job_title }}">           {{ item.job_title }}</option></select><label for="floatingSelect">	المسمى الوظيفي </label></div>',
position: `<div class="d-inline-flex flex-column-reverse float-end">
{% if item.path_item_names != "" %}
{% set pathNamesArray = item.path_item_names|split(',') %}

{% for pathItem in pathNamesArray %}
    {# Use the trim filter to remove curly braces and double quotes from the output #}
    {% set cleanedPathItem = pathItem|trim('{}"') %}

    {# Apply different classes based on loop.index #}
    {% if loop.index == 1 %}
        <div>
            <span class="badge bg-success-subtle rounded-0 text-success">
               {{ cleanedPathItem }}
            </span>
        </div>
    {% elseif loop.index == 2 %}
        <div>
            <span class="badge bg-secondary-subtle rounded-0 text-secondary">
               {{ cleanedPathItem }}
            </span>
        </div>
    {% elseif loop.index == 3 %}
        <div>
            <span class="badge bg-info-subtle rounded-0 text-info">
               {{ cleanedPathItem }}
            </span>
        </div>
    {% else %}
        <div>
            <span class="badge bg-primary-subtle rounded-0 text-primary">
               {{ cleanedPathItem }}
            </span>
        </div>
    {% endif %}
{% endfor %}
    {% else %} 
	 <span class="badge bg-danger-subtle rounded-0 text-danger">
              غير مكلف 
            </span>
{% endif %}

</div>
`,
contactInfo: `<div class="card">
 <div class="card-header"> جهات الاتصال للموظف: <strong>{{ item.f_name ~ ' ' ~ item.s_name ~ ' ' ~ item.t_name ~ ' ' ~ item.l_name }}</strong></div>
  <div class="card-body">
  
    <table class="table table-bordered text-right align-middle">
         <thead class="head">
        <tr>
          <th></th>
          <th>جهات الاتصال الشخصية</th>
          <th>جهات الاتصال الرسمية</th>
        </tr>
      </thead>
            <tbody>
                <tr>
                    <td><i class="bi bi-phone-fill text-warning fs-5"></i></td>
                    <td> {{item.p_mobile}} </td>
                    <td> {{item.g_mobile}} </td>
                </tr>
                <tr>
                    <td><i class="bi bi-telephone-fill text-warning fs-5"></i></td>
                    <td> {{item.p_telephone}} </td>
                    <td> {{item.g_telephone}} </td>
                    
                </tr>
                <tr>
                    <td><i class="bi bi-envelope-at text-warning fs-5"></i></td>
                    <td> {{item.p_email}} </td>
                    <td> {{item.g_email}} </td>
                    
                </tr>
      
            </tbody>
        </table>

  </div>
</div>
`,
changeEmployeeStatus: `
<div class="d-flex flex-column mb-3">
	<div class="d-flex flex-row mb-3">
		<div class="p-2">Flex item 1</div>
		<div class="p-2">Flex item 2</div>
	</div>
  
</div>
    `
},{% endfor %}],			
get filteredRows() {
if (!this.filterName && !this.filterNo && !this.filterStatus && !this.filterContract && !this.filterJob && !this.filterPosition) {
return this.rows;
}
return this.rows.filter(row => {
const nameMatch = row.employee.toLowerCase().includes(this.filterName.toLowerCase());
const noMatch = row.employeeNo.toLowerCase().includes(this.filterNo.toLowerCase());
const statusMatch = this.filterStatus === '' || row.status.toLowerCase().includes(this.filterStatus.toLowerCase());
const contractMatch = this.filterContract === '' || row.contract.toLowerCase().includes(this.filterContract.toLowerCase());
const jobMatch = this.filterJob === '' || row.job.toLowerCase().includes(this.filterJob.toLowerCase());
const positionMatch = this.filterPosition === '' || row.position.toLowerCase().includes(this.filterPosition.toLowerCase());

return nameMatch && noMatch && statusMatch && contractMatch && jobMatch && positionMatch;
});
}
};
};

	</script>
</main>{% endblock %}{% block script %}
<script src="/app/js/employeeAction.js"></script>

{% endblock %}
