{% extends "master.twig" %}

{% block style %}{% endblock %}

{% block main %}

	<form action="/job_assignment/store" method="post">
		{{ csrf.fields | raw }}

		<div class="row">
			<div class="col-12 col-md-12 col-xxl-12 d-flex">
				<div class="card flex-fill ">
	<div class="card-header row justify-content-between  p-3 border-bottom">
				<div class="col-md-6">
					<h4 class="text-end me-3 mt-3"> اضافة مهمة عمل
					</h4>
				</div>
				<div class="col-md-6">
					<nav class="nav justify-content-end p-3">
						<a href="/job_assignment/list" type="button" class="btn btn-primary">
							<i class="bi bi-plus-circle-dotted"></i>
							جميع المهمات
						</a>
					</nav>
				</div>
			</div>
					
					<div class="card-body">	

						<div class="row justify-content-md-center">

							<div class="col-12 col-md-6 col-xxl-6">
                                
                                <input type="hidden" id="employee_id" name="employee_id" value="{{ employee_id }}">
                                   <div class="row mb-2">                                    
                                 <div class="col-6">  
                                    <div class="form-floating mb-2">   
                                    <input type="text" value="{{lookups.job_assignment_type[1] }}" id="mission_type" name="mission_type" class="form-control {{ errors.mission_type ? 'is-invalid' : '' }}" placeholder=" مهمة عمل داخليه" aria-label=".form-select-sm example" readonly>                                                                  
                                           
                                      <div class="invalid-feedback">
										{{ errors.mission_type | first }}
									  </div>
                                    </div>
                                </div>
                                 <div class="col-6">  
                                    <div class="form-floating mb-2">                                                                     
                                             <select id="mission_status" name="mission_status" value="{{ old.mission_status }}" class="form-select  {{ errors.mission_status ? 'is-invalid' : '' }}" aria-label=".form-select-sm example" >
										<option value="null">-- حالة المهمه --</option>
                                        {% for key, value in lookups.vacation_status %}
											<option value="{{ key }}" {{ old.mission_status == key ? 'selected' : '' }}>{{ value }}</option>
										{% endfor %}
									</select>
                                      <div class="invalid-feedback">
										{{ errors.mission_status | first }}
									  </div>
                                    </div>
                                </div>    
                            </div> 
                                
                                                          
                                <div class="mb-3">
                                    <select id="employee_id" name="employee_id" value="{{ old.employee_id }}" class="form-select  {{ errors.employee_id ? 'is-invalid' : '' }}" aria-label=".form-select-sm example" >
                                    
                                    <option value="null">-- اختر الموظف --</option>
                                        {% for role in data %}
                                            <option value="{{ role.employee_id }}">{{ role.f_name ~ ' ' ~ role.l_name }}</option>
                                        {% endfor %}
                                    </select>
                                            <div class="invalid-feedback">
                                                {{ errors.employee_id | first }}
                                            </div>
                                  
                                </div>
                           
                                <div class="row mb-2">                                    
                                    <div class="col-4">
                                        <div class="form-floating mb-4">
                                            <input type="date" value="{{ old.mission_start_date }}" id="mission_start_date" name="mission_start_date" class="form-control {{ errors.mission_start_date ? 'is-invalid' : '' }}" placeholder="من تاريخ" aria-label=".form-select-sm example" onblur ="days()">                                            

                                            <div class="invalid-feedback">
                                                {{ errors.mission_start_date | first }}
                                            </div>

                                            <div id="invalid-dates" class="invalid-feedback" ></div>   
                                            
                                            <label for="mission_start_date">من تاريخ</label>
                                        </div>                                            
                                    </div>

                                    <div class="col-4">
                                        <div class="form-floating mb-4">
                                            <input type="date" value="{{ old.mission_end_date }}" id="mission_end_date" name="mission_end_date" class="form-control {{ errors.mission_end_date ? 'is-invalid' : '' }}" placeholder="إلى تاريخ" aria-label="إلى تاريخ"  onblur ="days()">
                                            
                                            <div class="invalid-feedback">
                                                {{ errors.mission_end_date | first }}
                                            </div>
                                            
                                            <label for="mission_end_date">إلى تاريخ<label>
                                        </div>
                                    </div>                                
                                   

                                
                                <div class="col-4">
                                    <div class="form-floating mb-4">                                                                     
                                        <input type="text" style="background-color:#edf2f9" value="{{ old.day_count }}" id="day_count" name="day_count" class="form-control" placeholder="عدد الايام" aria-label="عدد الايام" readonly>
                                        <label for="floatingInput">عدد الأيام<label>
                                    </div>
                                </div>                               
                           
                            </div>    
      
                            
                                
                                                                             
                                                                                <div class="col-6">
                                                                                    <div class="form-floating mb-4">
                                                                                        <select id="city" name="city" value="{{ old.city }}" class="form-select  {{ errors.city ? 'is-invalid' : '' }}" aria-label=".form-select-sm example">
                                                                                            <option value="null">-- المحافظه--</option>                                               
                                                                                            {% for key, value in lookups.city %}
                                                                                                <option value="{{ key }}" {{ old.city == key ? 'selected' : '' }}>{{ value }}</option>
                                                                                            {% endfor %}
                                                                                        </select>
                                                                                        <div class="invalid-feedback">
                                                                                            {{ errors.city | first }}
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                               
                                           
                                
                                 
                                <div class="mb-3">
                                    <div class="form-floating mb-4">                                                                     
                                        <textarea  id="floatingInput" name="note"  style="height: 100px" class="form-control" placeholder="ملاحظات" aria-label="ملاحظات" onkeyup="countChar(this)">{{ old.note }}</textarea>
                                        <label for="floatingInput">ملاحظات<label>
                                    </div>
                                     <div id="charNum" class="invalid-feedback"></div>
                                </div>     

							</div>                     

						</div>
                        <br>
                        <div class="d-flex justify-content-center d-grid gap-2">
							<button type="submit" class="btn btn-outline-primary">حفظ المهمه</button>
                            <button type="submit" class="btn btn-outline-info">حفظ وطباعة</button>
						</div> 

					</div>
				</div>
			</div>
		</div>
	

	</form>



<script>

function countChar(val) {
  var len = val.value.length;
 
  if (len >= 500) {
    val.value = val.value.substring(0, 500);
  } else {
    document.getElementById("charNum").style.display = 'block';
    document.getElementById("charNum").innerHTML=(500-len);
    $('#charNum').text(500 - len);
  }
}
  function days() {

    let mission_start_date = document.getElementById("mission_start_date").value;
    let mission_end_date = document.getElementById("mission_end_date").value;
   
    let day_count = 0;
  //document.getElementById("day_count").value =(mission_start_date);
        
        let date1 = Date.parse (mission_start_date);
        let date2 = new Date (mission_end_date);
        let now = new Date();

        document.getElementById("day_count").value = '';
        document.getElementById("invalid-dates").style.display = 'none';
      //  if(mission_start_date.length !== 0 && mission_end_date.length !== 0 ){


            
                document.getElementById("day_count").value = '';
                day_count = (Math.round((date2 - date1) / (1000 * 60 * 60 * 24))) + 1 ;

                        if (day_count > 0) {

                            document.getElementById("day_count").value = day_count;
                            }
                
                if (day_count <= 0){
                    document.getElementById("invalid-dates").style.display = 'block';
                    document.getElementById("invalid-dates").innerHTML = 'خطأ في ادخال التواريخ';

                }
            
       // }
  }
  </script>

{% endblock %}
